body {
	font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 7% auto;
  text-align: center; 
  font-size: 175%;
}
.container {
  width: 90%;
  margin: 0 auto;
}

#s1, #s2, #s3 {
  float: left;
  border: 1px solid black;
  position: relative;
  margin-bottom: 10%;
  background-color: #d2d7d3;
}

h2 {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em 2em;
  font-size: 125%;
}

#s1 > h2 {
  background-color: #f9690e;
}

#s2 > h2 {
  background-color: #3498db;
}

#s3 > h2 {
  background-color: #f22613;
}


div p {
  margin-top: 2.5em;
  padding: 2em;
  font-size: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {

  .col-lg-4 {
    float: left;
    width: 30%;
  }
 

  #s1, #s2 {
    margin-right: 5%;
  }
 
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  
  .col-md-5 {
    width: 45%;
  }

  .col-md-12 {
    width: 100%;
  }

  #s1 {
    margin-right: 10%;
  }
  
}

/**************** Small Devices Only *****************/